[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.3"
plotly = "==5.12.0"
plotly-express = "==0.4.1"
scikit-learn = "==1.2.0"

[dev-packages]

[requires]
python_version = "3.9"
